<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button id="close_edit_task_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="delete_task_modal_label">Delete Task</h4>
    </div>
            <%= form_for(@task, url: board_task_path(@task.board.id, @task.id),:html => {:class => 'form-horizontal'}, method: :delete) do |f| %>

    <div class="modal-body">
        Are you sure you want to delete the task '<%= @task.title%>'? This is a permenant change, it cannot be undone.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Delete Task', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
