<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="new_email_modal_label">About Us</h4>
    </div>
    <div class="modal-body">
      <p>Kalmban was set up as a training exercise.  I wanted to get out of Test Automation and into Development.  Doing this helped me out in a few ways: I learned Rails basics, I had to think critically about keeping code to a minimum, I needed to concern myself with usability, and I learned a little about deploying Rails.  As time goes on I will continue to work on this adding simple features for better usability.</p>

      <p> The idea is to keep Kalmban as simple as possible while it maintains usefulness.  It will always be provided for free, with ads to help pay for hosting.  If you have suggestions, please feel free to contact me using the link in the footer.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
