<div class="board well">
  <%= link_to('×', delete_board_path(board), {class: 'delete alignright modal_link', :remote => true, 'data-target' => '#delete_board_modal'})%>
  <%= link_to("#{board.title}", board_tasks_path(board.id), {class: "alignleft"}) %><br/>
  <div class="description"><%= board.description != nil ? "#{board.description}" : board.title %></div> 
  <div style='text-align:right;'>
   <%= link_to('Edit', {controller: 'boards', action: 'edit', id: board.id} , { remote: true,  'data-target' => '#edit_board_modal', class: 'btn btn-sm modal_link'} ) %>   
  </div>
</div>